<header>
  <h3>Internationalization (i18n)</h3>
</header>
<div class="container">
  <h4 i18n="@@header">Internationalization (i18n)</h4>

  <p i18n="@@para">In computing, internationalization and localization (AmE) or internationalisation and localisation (BrE) are means
    of adapting computer software to different languages, regional peculiarities and technical requirements of a target
    locale.[1] Internationalization is the process of designing a software application so that it can be adapted to
    various languages and regions without engineering changes. Localization is the process of adapting internationalized
    software for a specific region or language by translating text and adding locale-specific components. Localization
    (which is potentially performed multiple times, for different locales) uses the infrastructure or flexibility
    provided by internationalization (which is ideally performed only once, or as an integral part of ongoing
    development)</p>

  <p> This is static message and will not be translated.</p>
</div>